<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>GrizzlyStore</display-name>
  <welcome-file-list>
    <welcome-file>Admin-Login.html</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.grizzlystore.controller.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RegistrationServlet</display-name>
    <servlet-name>RegistrationServlet</servlet-name>
    <servlet-class>com.grizzlystore.controller.RegistrationServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegistrationServlet</servlet-name>
    <url-pattern>/RegistrationServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LogoutServlet</display-name>
    <servlet-name>LogoutServlet</servlet-name>
    <servlet-class>com.grizzlystore.controller.LogoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutServlet</servlet-name>
    <url-pattern>/LogoutServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddProductServlet</display-name>
    <servlet-name>AddProductServlet</servlet-name>
    <servlet-class>com.grizzlystore.controller.AddProductServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddProductServlet</servlet-name>
    <url-pattern>/AddProductServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RedirectToAddProductServlet</display-name>
    <servlet-name>RedirectToAddProductServlet</servlet-name>
    <servlet-class>com.grizzlystore.controller.RedirectToAddProductServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RedirectToAddProductServlet</servlet-name>
    <url-pattern>/RedirectToAddProductServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewProductsServlet</display-name>
    <servlet-name>ViewProductsServlet</servlet-name>
    <servlet-class>com.grizzlystore.controller.ViewProductsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewProductsServlet</servlet-name>
    <url-pattern>/ViewProductsServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FetchCategoryServlet</display-name>
    <servlet-name>FetchCategoryServlet</servlet-name>
    <servlet-class>com.grizzlystore.controller.FetchCategoryServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FetchCategoryServlet</servlet-name>
    <url-pattern>/FetchCategoryServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FetchProductServlet</display-name>
    <servlet-name>FetchProductServlet</servlet-name>
    <servlet-class>com.grizzlystore.controller.FetchProductServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FetchProductServlet</servlet-name>
    <url-pattern>/FetchProductServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteProductServlet</display-name>
    <servlet-name>DeleteProductServlet</servlet-name>
    <servlet-class>com.grizzlystore.controller.DeleteProductServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteProductServlet</servlet-name>
    <url-pattern>/DeleteProductServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SortByRatingServlet</display-name>
    <servlet-name>SortByRatingServlet</servlet-name>
    <servlet-class>com.grizzlystore.controller.SortByRatingServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SortByRatingServlet</servlet-name>
    <url-pattern>/SortByRatingServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShowProductByCategoryServlet</display-name>
    <servlet-name>ShowProductByCategoryServlet</servlet-name>
    <servlet-class>com.grizzlystore.controller.ShowProductByCategoryServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowProductByCategoryServlet</servlet-name>
    <url-pattern>/ShowProductByCategoryServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>VendorViewProductsServlet</display-name>
    <servlet-name>VendorViewProductsServlet</servlet-name>
    <servlet-class>com.grizzlystore.controller.VendorViewProductsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>VendorViewProductsServlet</servlet-name>
    <url-pattern>/VendorViewProductsServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>VendorSortByRatingServlet</display-name>
    <servlet-name>VendorSortByRatingServlet</servlet-name>
    <servlet-class>com.grizzlystore.controller.VendorSortByRatingServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>VendorSortByRatingServlet</servlet-name>
    <url-pattern>/VendorSortByRatingServlet</url-pattern>
  </servlet-mapping>
</web-app>